
.css-icons {
    font-size: 50px;
    height: 1em;
    width: 1em;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    color: @grey;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.person {
        &::before {
            content: '';
            height: .5em;
            width: .5em;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -.25em;
        }
        &::after {
            content: '';
            height: .4em;
            width: 1em;
            border-top-right-radius: 100%;
            border-top-left-radius: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &.line {
            &::before,
            &::after {
                border: solid .1em currentcolor;
            }
            &::before {
                height: .3em;
                width: .3em;
            }
            &::after {
                height: .2em;
                width: .8em;
            }
        }
        &:not(.line) {
            &::before,
            &::after {
                background: currentcolor;
            }
        }
    }
    &.clock {
        border-radius: 50%;
        border: solid .1em currentcolor;
        &::before {
            content: '';
            position: absolute;
            top: 20%;
            height: 30%;
            width: 10%;
            background: currentcolor;
            left: 45%;
        }
        &::after {
            content: '';
            top: 40%;
            left: 45%;
            width: 40%;
            height: 10%;
            position: absolute;
            background: currentcolor;
            .transform(~"rotate(45deg)");
            transform-origin: 0 100%;
        }
    }
    &.download {
        border-bottom: solid .15em currentcolor;
        &::after {
            content: '';
            top: 10%;
            height: 45%;
            left: 50%;
            margin-left: -.1em;
            position: absolute;
            width: .2em;
            background: currentcolor;
        }
        &::before {
            content: '';
            left: 50%;
            margin-left: -.26em;
            position: absolute;
            top: 55%;
            border-top: solid .26em currentcolor;
            border-left: solid .26em transparent;
            border-right: solid .26em transparent;
        }
    }
    &.upload {
        border-bottom: solid .15em currentcolor;
        &::after {
            content: '';
            bottom: 13%;
            height: 45%;
            left: 50%;
            margin-left: -.1em;
            position: absolute;
            width: .2em;
            background: currentcolor;
        }
        &::before {
            content: '';
            left: 50%;
            margin-left: -.26em;
            position: absolute;
            bottom: 58%;
            border-bottom: solid .26em currentcolor;
            border-left: solid .26em transparent;
            border-right: solid .26em transparent;
        }
    }
    &.search {
        &::before {
            content: '';
            height: .5em;
            width: .5em;
            position: absolute;
            border: solid .1em currentcolor;
            top: 0;
            right: 0;
            border-radius: 50%;
        }
        &::after {
            content: '';
            position: absolute;
            height: 50%;
            width: .1em;
            background: currentcolor;
            left: .2em;
            bottom: 0;
            .transform(~"rotate(45deg)");
        }
    }
    &.bars {
        &::before {
            content: '';
            height: .1em;
            width: 100%;
            top: 50%;
            margin-top: -.05em;
            left: 0;
            position: absolute;
            background: currentcolor;
        }
        &::after {
            content: '';
            height: .46em;
            width: 100%;
            top: .17em;
            left: 0;
            position: absolute;
            border-top: solid .1em currentcolor;
            border-bottom: solid .1em currentcolor;
        }
    }
    &.dots {
        &::before {
            content: '';
            position: absolute;
            background: currentcolor;
            border-radius: 50%;
            width: .2em;
            height: .2em;
            top: .4em;
            left: 0.1em;
            box-shadow: .3em 0 0 0 currentcolor,
                        .6em 0 0 0 currentcolor;
        }
        &.vertical {
            &::before {
                left: 50%;
                margin-left: -.1em;
                top: .1em;
                box-shadow: 0 .3em 0 0 currentcolor,
                0 .6em 0 0 currentcolor;
            }
        }
    }
    &.chevron {
        &::before {
            content: '';
            height: .24em;
            width: .24em;
            border-top: solid .1em currentcolor;
            border-left: solid .1em currentcolor;
            position: absolute;
            top: .33em;
            left: .33em;
            .transform(~"rotate(225deg)");
        }
        &.left {
            &::before {
                .transform(~"rotate(-45deg)");
            }
        }
        &.right {
            &::before {
                .transform(~"rotate(135deg)");
            }
        }
        &.up {
            &::before {
                .transform(~"rotate(45deg)");
            }
        }
        &.down {
            &::before {
                .transform(~"rotate(-135deg)");
            }
        }
    }
    &.chat {
        &::before {
            content: '';
            position: absolute;
            height: .6em;
            width: .8em;
            top: .1em;
            left: .1em;
            background: currentcolor;
            border-radius: .1em;
        }
        &::after {
            top: .7em;
            left: .2em;
            content: '';
            position: absolute;
            border-top: solid .08em currentcolor;
            border-left: solid .1em currentcolor;
            border-bottom: solid .08em transparent;
            border-right: solid .1em transparent;
        }
        &.line {
            &::before {
                background: transparent;
                border: solid .1em currentcolor;
                height: .4em;
                width: .6em;
            }
        }
    }
    &.plus {
        &::before {
            content: '';
            height: .1em;
            width: .5em;
            background: currentcolor;
            position: absolute;
            left: .25em;
            top: .45em;
        }
        &::after {
            content: '';
            width: .1em;
            height: .5em;
            background: currentcolor;
            position: absolute;
            top: .25em;
            left: .45em;
        }
    }
    &.minus {
        &::before {
            content: '';
            height: .1em;
            width: .5em;
            background: currentcolor;
            position: absolute;
            left: .25em;
            top: .45em;
        }
    }
    &.close {
        &::before {
            content: '';
            position: absolute;
            left: .17em;
            top: .45em;
            width: .66em;
            height: .1em;
            background: currentcolor;
            .transform(~"rotate(45deg)");
        }
        &::after {
            content: '';
            position: absolute;
            top: .17em;
            left: .45em;
            height: .66em;
            width: .1em;
            background: currentcolor;
            .transform(~"rotate(45deg)");
        }
    }
    &.check {
        &::before {
            content: '';
            top: .6em;
            height: .1em;
            width: .3em;
            left: .21em;
            background: currentcolor;
            position: absolute;
            .transform(~"rotate(45deg)");
        }
        &::after {
            content: '';
            position: absolute;
            top: .17em;
            left: .6em;
            height: .66em;
            width: .1em;
            background: currentcolor;
            .transform(~"rotate(45deg)");
        }
    }
    &.face {
        border-radius: 50%;
        border: solid .1em currentcolor;
        &::before {
            content: '';
            position: absolute;
            border-radius: 50%;
            height: .15em;
            background: currentcolor;
            width: .15em;
            top: .2em;
            left: .175em;
            box-shadow: .3em 0 0 0 currentcolor;
        }
        &::after {
            content: '';
            height: .3em;
            width: .3em;
            border-bottom: solid .1em currentcolor;
            border-radius: 50%;
            position: absolute;
            left: .17em;
            top: .25em;
        }
        &.happy {
            &::after {
                content: '';
                height: .35em;
                width: .35em;
                border-bottom: solid .1em currentcolor;
                border-left: solid .1em transparent;
                border-right: solid .1em transparent;
                border-radius: 50%;
                position: absolute;
                left: .125em;
                top: .2em;
            }
        }
        &.sad {
            overflow: hidden;
            &::after {
                content: '';
                height: .35em;
                width: .35em;
                border-top: solid .1em currentcolor;
                border-bottom: none;
                border-left: solid .1em transparent;
                border-right: solid .1em transparent;
                border-radius: 50%;
                position: absolute;
                left: .125em;
                top: .5em;
            }
        }
    }
    &.credit-card {
        &:before {
            content: '';
            height: .5em;
            width: .8em;
            top: .15em;
            position: absolute;
            left: 0;
            border: solid .1em currentcolor;
            border-radius: .1em;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: .35em;
            height: .15em;
            width: 100%;
            background: currentcolor;
        }
    }
    &.calendar {
        &::before {
            content: '';
            position: absolute;
            top: .1em;
            border: solid .1em currentcolor;
            border-top: solid .2em currentcolor;
            left: .1em;
            width: .6em;
            height: .5em;
        }
        &::after {
            content: '';
            background: currentcolor;
            height: .15em;
            top: 0;
            width: .15em;
            position: absolute;
            left: .25em;
            box-shadow: .4em 0 0 0 currentcolor,
                        0 .4em 0 0 currentcolor,
                        0 .45em 0 0 currentcolor,
                        .1em .4em 0 0 currentcolor,
                        .1em .45em 0 0 currentcolor;
        }
    }
    &.heart {
        &::before {
            content: '';
            position: absolute;
            width: .5em;
            height: .8em;
            border-radius: .5em .5em 0 0;
            .transform(~"rotate(45deg)");
            background: currentcolor;
            top: .05em;
            right: .145em;
        }
        &::after {
            content: '';
            position: absolute;
            width: .5em;
            height: .8em;
            border-radius: .5em .5em 0 0;
            .transform(~"rotate(-45deg)");
            background: currentcolor;
            top: .05em;
            left: .145em;
        }
    }
    &.not-allowed {
        border-radius: 50%;
        border: solid .1em currentcolor;
        &::before {
            content: '';
            position: absolute;
            .transform(~"rotate(-45deg)");
            top: .35em;
            left: -.025em;
            width: .85em;
            height: .1em;
            background: currentcolor;
        }
    }
    &.star {
        height: 0;
        width: 0;
        position: relative;
        border-right: .5em solid transparent;
        border-bottom: .35em  solid currentcolor;
        border-left:   .5em solid transparent;
        .transform(~"rotate(35deg)");
        top: -.315em;
        &::before {
            content: '';
            border-bottom: .4em solid currentcolor;
            border-left: .15em solid transparent;
            border-right: .15em solid transparent;
            position: absolute;
            height: 0;
            width: 0;
            top: -.22em;
            left: -.32em;
            .transform(~"rotate(-35deg)");
        }
        &::after {
            content: '';
            position: absolute;
            top: .01em;
            left: -.52em;
            width: 0px;
            height: 0px;
            border-right: .5em solid transparent;
            border-bottom: .35em solid currentcolor;
            border-left: .5em solid transparent;
            .transform(~"rotate(-70deg)");
        }
    }
    &.home {
        &::before {
            content: '';
            position: absolute;
            top: .1em;
            left: .1em;
            border-bottom: solid .4em currentcolor;
            border-left: solid .4em transparent;
            border-right: solid .4em transparent;
        }
        &::after {
            content: '';
            height: .4em;
            bottom: .1em;
            width: .2em;
            left: .2em;
            background: currentcolor;
            position: absolute;
            box-shadow: .4em 0 0 0 currentcolor,
                        .2em -.25em 0 0 currentcolor;
        }
    }
    &.info {
        border-radius: 50%;
        border: solid .1em currentcolor;
        &::after {
            content: '';
            top: .15em;
            background: currentcolor;
            left: .35em;
            width: .1em;
            position: absolute;
            height: .1em;
        }
        &::before {
            content: '';
            top: .35em;
            background: currentcolor;
            left: .35em;
            width: .1em;
            position: absolute;
            height: .3em;
        }
    }
    &.label {
        &::before {
            content: '';
            height: .6em;
            width: .6em;
            border-top-left-radius: 0.1em;
            border-bottom-left-radius: 0.1em;
            position: absolute;
            left: .05em;
            top: .2em;
            background: currentcolor;

        }
        &::after {
            content: '';
            position: absolute;
            border-top: solid .3em transparent;
            border-left: solid .3em currentcolor;
            border-bottom: solid .3em transparent;
            right: .05em;
            top: .2em;
        }
    }
    &.map-marker {
        &::after {
            content: '';
            position: absolute;
            height: .2em;
            width: .2em;
            border-radius: 50%;
            border: solid .2em currentcolor;
            left: .2em;
            top: .1em;
        }
        &::before {
            content: '';
            position: absolute;
            border-left: solid .275em transparent;
            border-top: solid .4em currentcolor;
            bottom: 0.1em;
            left: .225em;
            border-right: solid .275em transparent;
        }
    }
    &.arrow {
        &::before {
            content: '';
            position: absolute;
            height: .1em;
            width: .6em;
            left: .175em;
            top: .45em;
            background: currentcolor;
        }
        &.alt {
            &::after {
                content: '';
                height: .24em;
                width: .24em;
                border-top: solid .1em currentcolor;
                border-left: solid .1em currentcolor;
                position: absolute;
                top: .33em;
                left: .43em;
                .transform(~"rotate(135deg)");
            }
        }
        &:not(.alt) {
            &::after {
                content: '';
                top: .325em;
                right: .125em;
                border-left: solid .175em currentcolor;
                border-top: solid .175em transparent;
                border-bottom: solid .175em transparent;
                position: absolute;
            }
        }

        &.right {
            .transform(~"rotate(-180deg)");
        }
        &.up {
            .transform(~"rotate(-90deg)");
        }
        &.down {
            .transform(~"rotate(90deg)");
        }
    }
    &.mail {
        &:before {
            content: '';
            height: .5em;
            width: .8em;
            top: .15em;
            position: absolute;
            left: 0;
            border: solid .1em currentcolor;
            border-radius: .1em;
        }
        &::after {
            content: '';
            height: .45em;
            width: .45em;
            left: .225em;
            position: absolute;
            border-bottom: solid .1em currentcolor;
            border-right: solid .1em currentcolor;
            .transform(~"rotate(45deg)");
            top: -.05em;
        }
    }
    &.edit {
        &::after {
            content: '';
            height: .175em;
            width: .2em;
            position: absolute;
            left: 0;
            background: currentcolor;
            top: .175em;
            left: .175em;
            .transform(~"rotate(-45deg)");
            box-shadow: 0 .25em 0 0 currentcolor,
                        0 .42em 0 0 currentcolor,
                        0 .57em 0 0 currentcolor;
        }
        &::before {
            content: '';
            height: .14em;
            width: .14em;
            background: currentcolor;
            position: absolute;
            bottom: .2em;
            right: .19em;
        }
    }
    &.undo {
        &::before {
            content: '';
            top: .4em;
            left: .1em;
            height: .7em;
            width: .7em;
            border-top: solid .1em currentcolor;
            position: absolute;
            border-left: solid .1em transparent;
            border-right: solid .1em transparent;
            border-radius: 50%;
        }
        &::after {
            content: '';
            top: .425em;
            left: .125em;
            border-right: solid .175em currentcolor;
            border-top: solid .175em transparent;
            border-bottom: solid .175em transparent;
            position: absolute;
            .transform(~"rotate(-45deg)");
        }
    }
    &.trash {
        &::before {
            content: '';
            left: .25em;
            bottom: .125em;
            height: .5em;
            width: .5em;
            background: currentcolor;
            position: absolute;
            border-bottom-right-radius: .1em;
            border-bottom-left-radius: .1em;
        }
        &::after {
            content: '';
            background: currentcolor;
            position: absolute;
            top: .125em;
            left: .45em;
            height: .1em;
            width: .1em;
            box-shadow: 0 0 0 0 currentcolor,
                        .05em 0 0 0 currentcolor,
                        -.05em 0 0 0 currentcolor,
                        0 .1em 0 0 currentcolor,
                        .1em .1em 0 0 currentcolor,
                        -.1em .1em 0 0 currentcolor,
                        .2em .1em 0 0 currentcolor,
                        -.2em .1em 0 0 currentcolor,
                        .25em .1em 0 0 currentcolor,
                        -.25em .1em 0 0 currentcolor;
        }
    }
}